<h1>Game</h1>
<div *ngIf="gameFinished; else playControls">
    <h2>The game has finished. Your total score is {{score}}</h2>
</div>
<ng-template #playControls>
    <div *ngIf="dice1>0 and dice2>0">
        <img class="dice-img" src="/assets/images/dices/dice-{{dice1}}.png" alt="{{dice1}}" width="50"/>
        <img class="dice-img" src="/assets/images/dices/dice-{{dice2}}.png" alt="{{dice2}}" width="50"/>
    </div>
    <button mat-raised-button color="primary" (click)="roll_dices()">Roll dices</button>
    <h1>Score: {{score}}</h1>
</ng-template>

<div class="game-field" #div (window:resize)="elWidth = div.getBoundingClientRect()">
    <svg id="canv"></svg>
</div>

