<div class="inline" *ngIf="dice1 && dice2">
  <img class="dice-img" src="assets/images/dices/dice-{{ dice1 }}.png" alt="{{ dice1 }}" />
  <img class="dice-img" src="assets/images/dices/dice-{{ dice2 }}.png" alt="{{ dice2 }}" />
</div>

<div *ngIf="gameFinished; else playControls">
  <h2>The game has finished. Your total score is {{ score }}</h2>
  <button mat-raised-button color="primary" [routerLink]="'/start'">Start again</button>
</div>

<ng-template #playControls>
  <div class="game-action inline" *ngIf="!dice1 || !dice2">
    <button mat-raised-button color="primary" (click)="rollDices()">Roll dices</button>
  </div>
  <h1 class="m-1 mt-5 inline">Score: {{ score }}</h1>
</ng-template>

<div class="game-field">
  <svg id="canv"></svg>
</div>
