<div *ngIf="gameFinished; else playControls">
    <img *ngIf="dice1" class="dice-img" src="/assets/images/dices/dice-{{dice1}}.png" alt="{{dice1}}"/>
    <img *ngIf="dice2" class="dice-img" src="/assets/images/dices/dice-{{dice2}}.png" alt="{{dice2}}"/>
    <h2>The game has finished. Your total score is {{score}}</h2>
    <button mat-raised-button color="primary" [routerLink]="'/start'">Start again</button>
</div>

<ng-template #playControls>
    <div class="inline">
        <div *ngIf="dice1 and dice2; else allowTurn">
            <img class="dice-img" src="/assets/images/dices/dice-{{dice1}}.png" alt="{{dice1}}"/>
            <img class="dice-img" src="/assets/images/dices/dice-{{dice2}}.png" alt="{{dice2}}"/>
        </div>
        <ng-template #allowTurn>
            <div class="game-action">
                <button mat-raised-button color="primary" (click)="rollDices()">Roll dices</button>
            </div>
        </ng-template>
        <h1 class="m-1 mt-5">Score: {{score}}</h1>
    </div>
</ng-template>

<div class="game-field">
    <svg id="canv"></svg>
</div>
