<h1 align="center" class="text-muted">Statistics</h1>
<div *ngIf="statistics.length>0; else noStatistics">
    <table mat-table [dataSource]="statistics" class="mat-elevation-z8 width-100">

        <ng-container matColumnDef="gameType">
            <th mat-header-cell *matHeaderCellDef>Game Type</th>
            <td mat-cell *matCellDef="let s"> {{s.gameType}} </td>
        </ng-container>
        
        <ng-container matColumnDef="fieldSize">
            <th mat-header-cell *matHeaderCellDef>Field Size</th>
            <td mat-cell *matCellDef="let s"> {{s.fieldSize}} </td>
        </ng-container>

        <ng-container matColumnDef="turnsCount">
            <th mat-header-cell *matHeaderCellDef>Is winner</th>
            <td mat-cell *matCellDef="let s"> {{s.turnsCount}} </td>
        </ng-container>

        <mat-text-column name="score"></mat-text-column>

        <ng-container matColumnDef="isWinner">
            <th mat-header-cell *matHeaderCellDef>Is winner</th>
            <td mat-cell *matCellDef="let s"> <mat-icon *ngIf="s.isWinner" aria-label="Is winner" class="goldenrod">emoji_events</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<ng-template #noStatistics>
    <p class="text-muted">You don't have any finished games yet.</p>
</ng-template>
